.postlist {
    .post-item {
        h2 {
            white-space: normal;
        }
        
        img {
            max-width: 6rem !important;
            max-height: 6rem !important;
        }
    }
    
    .list {
        position: absolute;
        width: 100%;
        top: 0px;
    }
    
    .slide {
        overflow: hidden;
    }
}
